azure-identity
azure-mgmt-security
azure-mgmt-network
azure-mgmt-storage
azure-mgmt-compute
azure-mgmt-sql
azure-mgmt-keyvault
azure-mgmt-resource
azure-mgmt-policyinsights
azure-mgmt-msi
azure-mgmt-authorization
azure-graphrbac
pandas
python-dotenv
tqdm